[2017-09-11 17:21] rachtsingh opened #3 "Clean up Lecture 2 notes"
We'd like the final form of the lecture notes to be a little cleaner. Examples of things to fix:

1. Change `$$$$ \\` -> `\begin{align}\end{align}` envs.
2. More explanation of what Sasha said (what did he say about Dirichlets? what are they used for?)
3. `p(words)` -> `p(\text{words})`

Since @ashilgard pushed the first version, could the other two people signed up to scribe (@albertw1 + @diondra

[2017-09-11 21:09] diondrapeck commented on #3
Of course, I'll work on it tonight!

[2017-09-11 21:27] da03 commented on #3
Great thanks!

[2017-09-11 23:24] diondrapeck commented on #3
I cloned the repo, made changes, and just tried to push, but I'm getting a permission denied error.

[2017-09-11 23:35] rachtsingh commented on #3
I think you need to push your fork up to the repo and make a pull request, or make a pull request from your clone.

It's a bunch of work to give everyone in the class write access, basically, and this way we can make sure it's good before merging.

[2017-09-11 23:40] rachtsingh opened #4 "Make Lecture 3 notes"
Just a reminder (no need to rush).

@christophermosch
@ryanlapcevic
@lindseysbrown

As a walkthrough, you need to:
1. Make your own fork (so you can make a pull request).
2. Make a `3/` folder and include in it a copy of `2.tex -> 3.tex`
3. Edit `3.tex` with the lecture notes
4. Edit `main.tex` to add a reference to `3/3` (i.e. `3.tex` inside folder `3/`)
5. Edit README.md to refer to the right pl

[2017-09-11 23:42] lindseysbrown commented on #4
So is the goal to have a total of one document that we all contribute to?

[2017-09-11 23:45] rachtsingh commented on #4
Yep! Feel free to coordinate via ShareLatex if that's easier.

[2017-09-11 23:52] ryanlapcevic commented on #4
Hi Christopher & Lindsey. I made a ShareLatex project and sent you invites. I'll post my notes later tonight. Thanks.

[2017-09-11 23:55] ryanlapcevic commented on #4
It only let me add one collaborator so I made it public. Chris, you can access it [here](https://www.sharelatex.com/project/59b720ef665c5f740d46bc69).

[2017-09-12 00:11] christophermosch commented on #4
Thanks, Ryan. Sorry, I saw Rachit’s email too late, I’m done with the notes (attached). I’m creating a pull request now. Feel free to make changes!

Chris

From: Ryan Lapcevic [mailto:notifications@github.com]
Sent: Monday, September 11, 2017 7:55 PM
To: harvard-ml-courses/cs281-scribe <cs281-scribe@noreply.github.com>
Cc: Chris Mosch <chris.p.mosch@gmail.com>; Mention <mention@noreply.github.com>

[2017-09-12 00:14] lindseysbrown commented on #4
Can you upload your file to the sharelatex project before you do that so it's easier for Ryan and I to make edits?

[2017-09-12 00:16] rachtsingh commented on #4
Chris fyi: I think you're responding from email notifications (from here: https://github.com/harvard-ml-courses/cs281-scribe/issues/4), and I don't think we can see the attachment.

[2017-09-12 00:18] christophermosch commented on #4
Here we go. Thanks, Rachit.
[Lecture3.pdf](https://github.com/harvard-ml-courses/cs281-scribe/files/1294379/Lecture3.pdf)

[2017-09-12 00:19] lindseysbrown commented on #4
Looks really good, but what about the tex file so that we can make edits?

[2017-09-12 00:20] christophermosch commented on #4
Uploading .tex here is not supported. I'm trying to figure out how to put it into the ShareLatex folder.

[2017-09-12 00:22] lindseysbrown commented on #4
If you go into the project, there's an option to upload right under menu.  Alternatively, if you email the files to me (lindsey_brown@g.harvard.edu), I can upload them if that's easier.

[2017-09-12 00:23] christophermosch commented on #4
Cool, thanks. Sent it to you. Somehow the upload button wasn't working for me.

[2017-09-12 00:25] lindseysbrown commented on #4
Got it and files are uploaded to the share latex project.

[2017-09-12 00:26] lindseysbrown commented on #4
Ryan, I'll leave a comment here when I'm done with my edits, and then you can put in the pull request with your edits.  Chris, thanks for all your work getting this done so efficiently!

[2017-09-12 00:48] ryanlapcevic commented on #4
Sounds good, thanks Lindsey. Really nice work, Chris.

[2017-09-12 00:53] lindseysbrown commented on #4
I just finished my edits - I added the examples we discussed from the beginning of class but beyond that just a few minor notes/changes.

[2017-09-12 00:58] ryanlapcevic commented on #4
Cool thanks. I'll post my changes and then submit the pull request. @rachtsingh do we need to submit separate pull requests for 'documentation' or just the one?

[2017-09-12 01:10] rachtsingh commented on #4
Just one's fine.

[2017-09-12 02:06] #3 closed

[2017-09-12 20:56] rachtsingh commented on #4
Hey, I just committed the stuff in the ShareLatex on your behalf, since I didn't get a PR. You're all set!

[2017-09-12 20:56] #4 closed

[2017-09-13 18:51] rachtsingh opened #6 "Make Lecture 4 Notes"
Hi all, just a reminder to make a pull request together for the lecture 4 notes (no rush).

@lukemelas
@artidoro
@demiguo

You'll want to:
1. Make your own fork (so you can make a pull request).
2. Make a `4/` folder and include in it a copy of `3.tex -> 4.tex`
3. Edit `4.tex` with the lecture notes
4. Edit `main.tex` to add a reference to `4/4` (i.e. `4.tex` inside folder `4/`)
5. Edit README.md

[2017-09-14 13:34] rachtsingh commented on #6
Thanks for taking care of it! https://github.com/harvard-ml-courses/cs281-scribe/pull/7

[2017-09-14 13:34] #6 closed

[2017-09-18 21:23] artidoro opened #8 "Make Lecture 5 Notes"
Hey I just made a sharelatex project so we can all work there.
Luke what's your email, so I can invite you too?

@lukemelas
@artidoro
@demiguo

I think it would be best to divide the notes in three and each work on a separate part. We can then harmonize and double check that we included everything. A division that I think could work:

1. Naive Bayes
2. Bayesian naive Bayes (first part)
3. From: Na

[2017-09-19 00:31] artidoro commented on #8
Demi is doing the second part, I am done with the first part.

[2017-09-19 01:24] lukemelas commented on #8
Hello,

I apologize for the late reply. I would be happy to do the third part!

My email is lmelaskyriazi@college.harvard.edu.

Best,
Luke

On Sep 18, 2017 8:31 PM, "Artidoro Pagnoni" <notifications@github.com>
wrote:

[2017-09-19 01:44] artidoro commented on #8
Perfect! I just sent you the invite to the sharelatex project.

[2017-09-19 01:47] lukemelas commented on #8
Great, thank you! I'll complete them tonight or tomorrow morning.

Best,
Luke

On Sep 18, 2017 9:44 PM, "Artidoro Pagnoni" <notifications@github.com>
wrote:

[2017-09-19 16:49] rachtsingh commented on #8
bump! Just wanted to make sure this got done today. Thanks!

[2017-09-20 02:45] demiguo commented on #8
Hi all,
I just updated our sharelatex!

[2017-09-20 03:02] lukemelas commented on #8
Thanks Demi! I'm working on the final section of notes now -- I'll have
them on the ShareLaTeX document by tonight.

Best,
Luke

On Tue, Sep 19, 2017 at 10:45 PM, demiguo <notifications@github.com> wrote:

[2017-09-20 03:51] artidoro commented on #8
Can you do a pull request on github? The sharelatex is not connected to the github, otherwise you can let me know when you are done, and I can do it.

[2017-09-20 05:22] artidoro commented on #8
Ok just submitted pull request :)
Let us know if we need to add anything.

[2017-09-20 17:16] rachtsingh opened #10 "In main.pdf, the subsection numbers are not reset between sections"

[2017-09-20 18:53] tingting4805 opened #11 "Make lecture 6 notes"
Hi Guys,

@tk000
@yling96

I have started a sharelatex project for lecture 6 notes. (i made it public so everyone can edit it... or is there a project on sharelatex?)

https://www.sharelatex.com/project/59c2b7fcb083e60fd6a0a890

Thanks, wenting

[2017-09-20 18:57] fberlinger opened #12 "4th scriber for "Linear Classification""
Hey guys,

I am Florian (@fberlinger, fberlinger at seas dot harvard dot edu) and I was supposed to be added earlier as a 4th scriber as per the scribing excel sheet.

The assistants suggested that I proofread what you have so far. Here are my comments:

1) In section 5.2.2 \mu_{jc} is a vector containing several features j as opposed to 5.2.1. I'd emphasize that fact by using vector notation: \ve

[2017-09-20 19:07] tingting4805 commented on #11
My thoughts on each part would be...

1. introduction to exponential family / two examples
2. three properties.
3. the rest.

What do you think? I will start working on the first part....

[2017-09-20 19:09] yling96 commented on #11
We already have a doc. Please see https://www.sharelatex.com/project/59c286090193421f18ce973d. Feel free to make changes.

[2017-09-20 19:36] tingting4805 commented on #11
sorry I just saw your Facebook friend request
 I don't check Facebook regularly.

I will go through the notes ASAP.

[2017-09-20 20:13] tingting4805 commented on #11
@yling96
I just made a few changes. It's good to go.

[2017-09-20 23:21] artidoro commented on #12
Hey sorry! I didn't see that
All the comments sound good!
Let me resubmit..

[2017-09-21 23:59] rachtsingh commented on #11
Could someone make a pull request?

[2017-09-22 00:01] rachtsingh commented on #11
Thanks for getting this done, btw. Here's a walkthrough with steps:

1. Make your own fork (so you can make a pull request).
2. Make a `6/` folder and include in it a copy of `5.tex -> 6.tex`
3. Edit `6.tex` with the lecture notes
4. Edit `main.tex` to add a reference to `6/6` (i.e. `6.tex` inside folder `6/`)
5. Edit README.md to refer to the right place

Make sure `6/6.pdf` are compiled and comm

[2017-09-22 00:02] #12 closed

[2017-09-22 00:02] rachtsingh commented on #8
Thanks!

[2017-09-22 00:02] #8 closed

[2017-09-22 20:01] rachtsingh commented on #11
Thanks!

[2017-09-22 20:01] #11 closed

[2017-09-22 20:02] rachtsingh opened #15 "Exponential Families uses `\section`"
Which causes the numbering to be all off. We're embedding `section` into the lecture setup, and using that for counting right now (not the best solution, but ok).

This makes the main pdf (`main.pdf`) incorrect.

[2017-09-26 18:22] rachtsingh opened #16 "Make a Lecture 7 notes PR"
Hi all, just a reminder to make a pull request together for the lecture 7 notes.

@jtwangac
@kevinzhang96
@aw31
@aronszanto

You'll want to:
1. Make your own fork (so you can make a pull request).
2. Make a `7/` folder and include in it a copy of `6.tex -> 7.tex`
3. Edit `7.tex` with the lecture notes
4. Edit `main.tex` to add a reference to `7/7` (i.e. `7.tex` inside folder `7/`)
5. Edit README.m

[2017-09-26 23:56] aronszanto commented on #16
Thanks, @rachtsingh. I'll write up the first part of the lecture, from the beginning until GLMs with (adaptive) basis functions.

[2017-09-27 00:03] rachtsingh commented on #16
Hey Aron,

I think the others have started already? Don't want you to duplicate work -
check with Kevin or Alex to get the ShareLatex.

On Sep 26, 2017 7:56 PM, "Aron Szanto" <notifications@github.com> wrote:

[2017-09-27 00:46] aronszanto commented on #16
@aw31 @jtwangac @kevinzhang96 would one of you share the sharelatex please?

[2017-09-27 05:05] kevinzhang96 commented on #16
i think only @aw31 has the ability to share :(

[2017-09-27 05:41] aronszanto commented on #16
Thanks! Ergh too much technology

On Tue, Sep 26, 2017 at 20:04 Rachit Singh <notifications@github.com> wrote:

--
Sent from my iPhone

[2017-09-27 15:43] rachtsingh commented on #16
Ok, thanks.

[2017-09-27 15:43] #16 closed

[2017-09-27 16:00] aw31 commented on #16
@aronszanto, sorry about the confusion--just saw these messages. I made a pull request with the notes that Juntao, Kevin, and I had put together last night, but it would be awesome if you could integrate in what you have down from class. Just shared the ShareLaTeX with you.

[2017-09-27 19:06] marikgoldstein opened #18 "Make Lecture Notes 8"
Hi all, just a reminder to make a pull request together for the lecture 8 notes.

@ganand, Giridhar Anand
@michael-hahn, Xueyuan Michael Han
@anaroxanapop, Ana-Roxana Pop

You'll want to:

Make your own fork (so you can make a pull request).
Make a 8/ folder and include in it a copy of 7.tex -> 8.tex
Edit 8.tex with the lecture notes
Edit main.tex to add a reference to 8/8 (i.e. 8.tex inside folde

[2017-09-27 22:21] rachtsingh commented on #15
fixed.

[2017-09-27 22:21] #15 closed

[2017-09-29 03:07] aronszanto commented on #16
No worries! I added my notes.

[2017-09-29 03:21] rachtsingh commented on #18
thanks mark for poking, looks like it was made here: https://github.com/harvard-ml-courses/cs281-scribe/pull/19. I'll merge after comments fixed, and close this.

[2017-09-29 14:01] rachtsingh commented on #18
Done! Thanks everyone.

[2017-09-30 14:56] marikgoldstein commented on #18
Hi Everyone,

Good job on the notes. Can you fix a typo in the Gaussian DGM example? At one point it mentions

W_ij ( x_ij - m_j)

I believe the i in x_ij should not be there.  It's a linear transformation of the parent x_j.

Please confirm with the section notes.

[2017-10-01 19:27] #18 closed

[2017-10-03 12:56] marikgoldstein opened #22 "Make Lecture Notes 9: UGMs"
Hi all, just a reminder to make a pull request together for the lecture 9 notes.

@timmenke, Tim Menke
@ShuranZheng, Shuran Zheng
@denisellen, Denis Ellenrieder
@chase130101, Christopher Hase
@Rafi-Small,  Rafi Small

You'll want to:

Make sure you read the [LaTeX Guide](https://github.com/harvard-ml-courses/cs281-scribe/blob/master/scribe_notes.md)
Make your own fork (so you can make a pull reque

[2017-10-03 13:10] marikgoldstein commented on #22
Rafi's github name is not highlighting. Can someone find it out and tag him in a comment?

[2017-10-05 13:28] marikgoldstein opened #25 "Make Lecture 10 Notes: Time Series"
Hi all, just a reminder to make a pull request together for the lecture 10 notes.

@Natmax, Nathaniel (Max) Hopkins,
@lavjams, Jamila Pegues
@swagnercarena, Sebastian Wagner-Carena
@brabeeba, Brabeeba (Mien) Wang

You'll want to:

Make sure you read the [LaTeX Guide](https://github.com/harvard-ml-courses/cs281-scribe/blob/master/scribe_notes.md)
Make your own fork (so you can make a pull request w

[2017-10-05 13:56] marikgoldstein commented on #22
Looks good at first glance. I'll read more carefully later today.

In the future, when contributing to a collaborative project, make sure to leave the project in a way that isn't broken. In this case, I needed to move your added commands to the pagesetup.sty file to get main.tex to compile.

[2017-10-06 00:48] ShuranZheng commented on #22
I see. Thank you Mark! -Shuran

2017-10-05 9:56 GMT-04:00 Mark Goldstein <notifications@github.com>:

--
Shuran Zheng
PhD Student
School of Engineering and Applied Science
Harvard University

[2017-10-06 13:20] lavjams commented on #25
We've submitted a pull request!  Please let us know if it went through alright (as none of us are very versed in Github.)

[2017-10-06 20:01] rachtsingh commented on #22
I'm going to close this issue since the relevant PR has been merged, but feel free to reopen it if the notes aren't up to quality standards.

[2017-10-06 20:01] #22 closed

[2017-10-06 20:02] rachtsingh commented on #25
I don't think it went through :( Can you link me to where you think the PR is?

[2017-10-06 20:14] marikgoldstein commented on #25
It went through, I approved it!

On Fri, Oct 6, 2017 at 4:02 PM, Rachit Singh <notifications@github.com>
wrote:

[2017-10-06 20:15] rachtsingh commented on #25
Oh ok sounds good.

[2017-10-06 20:15] #25 closed

[2017-10-11 18:25] marikgoldstein opened #27 "Make Lecture 11 Notes: Belief Propogation"
Hi all, just a reminder to make a pull request together for the lecture 11 notes.

@benatii, Ismail Ben Atitallah
@fullerene12, Hao Wu
@raphaelrk, Raphael Rouvinov
@orekki, Ziliang Che
@jiaoyang, Jiaoyang Huang

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 11/ folder and include in it a copy of 10.tex -> 11.tex (or

[2017-10-13 05:45] fullerene12 commented on #27
Hi Mark,

I have pushed my scribe to my fork. Let me know if there anything I shoud
change/add.

Thank you!

Best,
Hao

On Wed, Oct 11, 2017 at 2:25 PM, Mark Goldstein <notifications@github.com>
wrote:

[2017-10-15 13:54] jiaoyang commented on #27
Hi everyone,

I also pushed my scribe to my fork. I wonder how should we combine those
notes together?

Best,
Jiaoyang.

On Fri, Oct 13, 2017 at 1:45 AM, Hao Wu <notifications@github.com> wrote:

[2017-10-15 14:35] marikgoldstein commented on #27
It was up to all of you to communicate and make one set of scribe notes. Please message each other and take care of this.

[2017-10-15 20:35] fullerene12 commented on #27
Hi Jiaoyang,

My fork is at:

https://github.com/fullerene12/cs281-scribe.git

You could add my stuff to yours, or I could do combination, let me know! :)

Best,
Hao

On Sun, Oct 15, 2017 at 9:54 AM, jiaoyang <notifications@github.com> wrote:

[2017-10-16 01:54] raphaelrk commented on #27
Hi @marikgoldstein, this caught me off guard. I'm very, very confident I signed up to scribe the Information Theory lecture (this wednesday) and not the one on Belief Propagation, so I wasn't looking out for this. Would it be possible to scribe this wednesday's lecture? If not, I can get this in by tomorrow evening, or comment one of the ipython notebooks.

[2017-10-16 01:55] marikgoldstein commented on #27
Sorry Raph, must be an error. Sure, just confirm that your name is listed for whichever lecture you plan to scribe. No need to join this one.

[2017-10-16 16:50] jiaoyang commented on #27
Hi everyone,

Let's just combine everything to Hao Wu's repo: @fullerene12 <
https://github.com/fullerene12>.

PS: Hao, I'll combine my file with yours tonight!

Best,
Jiaoyang.

On Sun, Oct 15, 2017 at 4:35 PM, Hao Wu <notifications@github.com> wrote:

[2017-10-17 03:28] jiaoyang commented on #27
Hi everyone,

Do you have any more comments of the attached notes for lecture 11? We can
add it to cs281-scribe tomorrow.

Best,
Jiaoyang.

On Mon, Oct 16, 2017 at 12:50 PM, Jiaoyang Huang <jiaoyang92@gmail.com>
wrote:

[2017-10-18 18:31] raphaelrk opened #29 "Lecture 13 Information Theory"
Hi all,

Josh put together a sharelatex for us to contribute our notes to. Link [here](https://www.sharelatex.com/project/59e799350f4eac2ff4820611). Far from complete, let's clean it up / flesh it out and let @marikgoldstein know when we're done.

@joonheechoi Joonhee Choi
@sonhyoungmok Hyungmok Son
@joshim Joshua Meier
@rchen277 Ruiqi Chen
@chang04 Peter Chang

[2017-10-19 02:42] raphaelrk commented on #29
Hi all,

Made a lot of touch ups, would appreciate if you guys went through it and made sure all the content from the lecture is there.

[2017-10-19 15:28] rchen277 commented on #29
Hi all,

I added the parabola picture, and made some touch ups as well. I caught a
few small errors going through. I think the note would be ready to go with
one more round of proof reading. The style format at the end (page 4) may
still have room for improvement (I'm not good at latex styling XD).

Ruiqi

On Wed, Oct 18, 2017 at 10:42 PM, Raphael Rouvinov-Kats <
notifications@github.com> wrote:

[2017-10-21 04:18] rachtsingh commented on #29
Is this finished? Could you please finish it tomorrow?

[2017-10-23 22:08] raphaelrk commented on #29
Made a pull request #30

[2017-10-31 14:25] #27 closed

[2017-10-31 14:47] marikgoldstein commented on #29
We pulled it in.

[2017-10-31 14:54] marikgoldstein opened #32 "Make Lecture 12: RNNs"
Hi all, just a reminder to make a pull request together for the lecture 12 notes, RNNs. Sorry for the delay

@joshspeagle, Josh Speagle
@akgoldberg, Alexander Goldberg
@DanielScottEaton, Daniel Eaton
@marble999, George Han
@graulem, Moritz Graule

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
I already made a 12/ directory.

[2017-10-31 14:55] #29 closed

[2017-10-31 14:59] marikgoldstein opened #33 "Make Lecture 14: Mixture Models"
Hi all, just a reminder to make a pull request together for the lecture 14 notes, Mixture Models. Feel free to double-check with the section notes, and feel free to prioritize discussion of things not mentioned in them.

@isaacxia10, Isaac Xia
@afai, Andrew Fai
@eifer4, Eric Dunipace
@bacook17, Ben Cook

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull

[2017-10-31 15:02] marikgoldstein opened #34 "Make Lecture 15: VI"
Hi all, just a reminder to make a pull request together for the lecture 15 notes, Mean Field.

@al5250, Alex Lin '19
@zwei2016, Wei ZHANG
@dgiebs, Daniel Giebisch
@RichJZhang, Richard Zhang
@fha, Fahad Alhasoun

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 15/ folder, include in it a copy of 14.tex, and rename it to

[2017-10-31 19:19] RichJZhang commented on #34
Hey guys,

I'm totally ready to start writing this.  Is anyone already familiar with the technological aspect of this?  If so, it would be great if he/she could set it up and then everyone else can fill sections in.

Richard

[2017-11-01 04:07] dgiebs commented on #34
Hey Guys,

I setup a Sharelatex for us to add in notes:

https://www.sharelatex.com/project/59f94718c9d57a1d5ea1ac5c <https://www.sharelatex.com/project/59f94718c9d57a1d5ea1ac5c>

Let me know if the link doesn’t work. Once we’re done I can deal with adding it to Github

Best,

Danny

[2017-11-01 04:35] zwei2016 commented on #34
Hey guys

I have some problem to upload my file in the link.
So I send you my writing in attachment.

On Wed, Nov 1, 2017 at 12:07 AM, dgiebs <notifications@github.com> wrote:

--
Best Regards

Wei ZHANG

[2017-11-01 04:47] zwei2016 commented on #34
Hey Guys

I have created another file 15_wz for this moment.
I think we can combine the two files together.
The 15.tex is already good, I think. Maybe we can add some formula from
15_wz.tex?

Best regards

wei

On Wed, Nov 1, 2017 at 12:35 AM, Zhang, Wei <wei_zhang@g.harvard.edu> wrote:

--
Best Regards

Wei ZHANG

[2017-11-01 14:04] DanielScottEaton commented on #32
Hey everyone, so I think the best thing to do would be to divide the tasks up to begin with. I think a fair division of labor would be for four of us to do the actual scribing and one to handle the administrative stuff with github and sharelatex. Below I have produced a rough outline of the lecture divided as equally as possible into four pieces, as well as listing the 'admin' role. Just comment b

[2017-11-01 14:32] RichJZhang commented on #34
I see Danny's Sharelatex.  The content is from the information theory section.  We can change that.  I don't see Wei's file.  Wei can you show me where your work is?

I have class until 6 today.  I can work afterwards.

Richard

[2017-11-01 14:57] GrauleM commented on #32
Hi guys,

Thanks, Daniel.

I set up a public ShareLatex here: https://www.sharelatex.com/project/59f9dec253d7fe35b052da33

and forked the repo.

Happy to help out with the other things as well though - just let me know.

Best,
Moritz

[2017-11-01 15:30] joshspeagle commented on #32
Hey all -- I've actually dropped the class, so I won't be able to help out with this. Sorry!

[2017-11-01 15:37] DanielScottEaton commented on #32
ok, since we will only have four total, here's a new roster of roles:

admin - Moritz
Start- Before "Issues: Network Layers" - Daniel
"Issues: Network Layers" - Before "How to use an RNN?" -
"How to use an RNN?" - End -

I just claimed the merged first part of the lecture since it is the longest and I doubt anyone would sign up for it of their own will (:

[2017-11-01 16:23] akgoldberg commented on #32
I can take “Issues: Network Layers”!

[2017-11-01 16:24] akgoldberg commented on #32
I can take “Issues: Network Layers”! So roster of roles:

admin - Moritz
Start- Before "Issues: Network Layers" - Daniel
"Issues: Network Layers" - Before "How to use an RNN?" - Alex
"How to use an RNN?" - End -

On Wed, Nov 1, 2017 at 11:37 AM, DanielScottEaton <notifications@github.com>
wrote:

[2017-11-01 16:36] zwei2016 commented on #34
Hi Richard

My file is updated yesterday into Danny's Sharelatex, as 15_wz.tex.
I think it is available to all?

Best

Wei

[image: Inline image 1]

On Wed, Nov 1, 2017 at 10:32 AM, RichJZhang <notifications@github.com>
wrote:

--
Best Regards

Wei ZHANG

[2017-11-01 17:29] GrauleM commented on #32
@marble999: George, just checking that you are still taking the class?

for everyone: if you add packages or make other changes to the style file (or any file that is not our main file), can you please mark those changes with 'xx'? that way I can go through them quickly afterwards.

Thanks,
Moritz

[2017-11-01 18:05] marble999 commented on #32
Hi guys,

"How to use an RNN?" - End sounds great! To clarify, @DanielScottEaton: which parts of the lecture did you have in mind for this section? I'm thinking a description of how to use an RNN to classify, as well as the small bit at the end about using RNNs in language translation and speech recognition.

**Final Roster:**
admin - Moritz
Start- Before "Issues: Network Layers" - Daniel
"Issues:

[2017-11-01 18:10] DanielScottEaton commented on #32
@marble999
Yah that works; I also think there was a brief digression on 'Greedy Search'. Idk if it's that important as it was included somewhat haphazardly at the end of the lecture. Up to you whether to bother with it. Either way what you are already planning on doing seems sufficient.

[2017-11-01 19:02] karlotness commented on #10
I can take a look at this one this evening.

[2017-11-01 19:06] hzshan opened #35 "Make lecture 16: Mean Field"
Hi all, just a reminder to make a pull request together for the lecture 16 notes, Advanced Variational Inference.

@denisturcu Denis Turcu
@yaojiayu0826
@sophiesi Xu Si

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 16/ folder, include in it a copy of 15.tex, and rename it to 16.tex
(use a previous one if 15.tex is n

[2017-11-01 20:40] RichJZhang commented on #34
I do see it now.  It certainly looks good.  We should just edit and submit 15_wz.tex.  It looks basically like what I have for my notes, which is more or less a collection of formulas.  We should just add some sentences so that the reader knows what the formulas mean, so basically add things to 15_wz.tex to make it look like the format of 15.tex

[2017-11-01 21:08] fha commented on #34
Hi guys,

It looks good to me as well, I have made a few figures to complement what
is on 15_wz.tex I will upload them in a few.

Fahad

On Wed, Nov 1, 2017 at 4:40 PM, RichJZhang <notifications@github.com> wrote:

[2017-11-01 21:26] fha commented on #34
I added some figures to the pdf. I second Richard's idea of adding a few sentences for the readers.

[2017-11-02 02:52] RichJZhang commented on #34
I have turned most of the bullet points into sentences and paragraphs.  Can our remaining member proofread it for final touch-ups, also to make sure what we're saying is correct?

The one point I am unsure of is in section 15.3, check if Expectation Propagation refers to just the forward KL method or both of them.  As I have it right now, it's unclear.

[2017-11-02 03:10] al5250 commented on #34
Hi guys,

I will proofread tomorrow and make any necessary edits.  Sorry, been kind
of swamped for the last couple of days, but will have this latex doc
finalized by 5 pm tomorrow and let you all know when it's finished.  And
yes, expectation prop refers to just the forward KL I believe.

Alex

On Wed, Nov 1, 2017 at 10:52 PM, RichJZhang <notifications@github.com>
wrote:

--
- Alex Lin

[2017-11-02 03:48] RichJZhang commented on #34
Perfect.  And thanks Mark.

[2017-11-02 19:49] al5250 commented on #34
Hi guys,

I just went over the ShareLatex doc and made some edits/corrected some
typos we had in the equations.  Also tried to make notation clear.  I think
the notes look pretty good - can someone upload them to GitHub?

Alex

On Wed, Nov 1, 2017 at 11:48 PM, RichJZhang <notifications@github.com>
wrote:

--
- Alex Lin

[2017-11-02 20:28] dgiebs commented on #34
Will do!

[2017-11-02 20:58] dgiebs commented on #34
Alright, created a pull request–we should be all set.

Best,

Danny

[2017-11-06 16:33] GrauleM commented on #32
Hey guys, can you ping me when you are all done?

@marble999
@DanielScottEaton
@akgoldberg

[2017-11-06 17:07] akgoldberg commented on #32
I’m all done!

[2017-11-06 18:32] DanielScottEaton commented on #32
Done!

[2017-11-07 06:09] marikgoldstein commented on #35
Reminder: please make scribe notes!

[2017-11-07 06:11] marikgoldstein opened #40 "Make Lecture 17: Loopy BP and SVI"
Hi all, just a reminder to make a pull request together for the lecture 17 notes, Loopy BP and SVI.

@dem123456789, Enmao Diao
@lpentecost, Lillian Pentecost
@tongbaojia, Baojia Tong
@AndreCJS, André Snoeck
@pvarin, Patrick Varin
@shuanno, Hsuan Lee

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 17/ folder, include i

[2017-11-07 06:13] marikgoldstein commented on #33
Merged.

[2017-11-07 06:13] #33 closed

[2017-11-07 06:13] marikgoldstein commented on #32
If done, please make a pull request.

[2017-11-07 07:35] marble999 commented on #32
I'm done as well! @GrauleM

[2017-11-07 12:41] pvarin commented on #40
Are you looking for a single PR or one from everyone?

@everyone, If we are submitting a single PR together I've created a fork we can submit to here. I'll give you all collaborator permissions.

[2017-11-07 13:15] pvarin commented on #40
@marikgoldstein, cloning the original repo and compiling results in an empty document for me. Is this a problem you've seen before?

[2017-11-07 14:07] yaojiayu0826 commented on #35
All three of us were not familiar with github. I just made a pull request, with lecture 16 notes added

[2017-11-07 18:21] AndreCJS commented on #40
Thanks for settings this up. I'll take the Gibbs Sampling section.

[2017-11-07 22:42] AndreCJS commented on #40
Hi guys,
Could someone please update the file with the section on Gibbs Sampling (see attached) and add my name to the scribes list (André Snoeck)? I'm having some issues.
Thanks,
André

[topic_model.pdf](https://github.com/harvard-ml-courses/cs281-scribe/files/1451938/topic_model.pdf)

[17_gibbs.txt](https://github.com/harvard-ml-courses/cs281-scribe/files/1451940/17_gibbs.txt)

[2017-11-07 22:47] pvarin commented on #40
Done @AndreCJS

[2017-11-07 23:00] pvarin commented on #40
I think we've covered everything. @tongbaojia, @dem123456789, and @shuanno can you guys go over the material and fill in any gaps or add graphics as you see fit? Otherwise we can PR soon.

[2017-11-07 23:24] tongbaojia commented on #40
Hi guys, I added in two figures for the message passing. Otherwise, it is fine with me.

[2017-11-08 14:47] pvarin commented on #40
Cool, I'm going to PR then.

[2017-11-08 15:37] shuanno commented on #40
Hey guys sorry that I didn't get the chance to check my e-mail yesterday...I'll look through the material and find if there's anything I can improve. Sorry about that

[2017-11-08 15:39] pvarin commented on #40
No worries :) we can merge any changes you make into the current PR

[2017-11-08 17:45] shuanno commented on #40
Hi @pvarin thanks for the reply. I think the scribe is really good and I could only modify the abbreviations and some minor format. Can anyone help me do the pull request for my .tex file? I have some issue of github for a while today...
Thanks!

[17.tex.zip](https://github.com/harvard-ml-courses/cs281-scribe/files/1454877/17.tex.zip)

[2017-11-08 17:54] pvarin commented on #40
@shuanno done!

[2017-11-09 05:36] marikgoldstein commented on #40
Sorry I missed these comments. The repo was in a rough state because several people fell behind on scribing and there were merge conflicts. It'll be taken care of ASAP

[2017-11-09 05:37] #34 closed

[2017-11-09 05:37] #35 closed

[2017-11-09 05:58] marikgoldstein opened #44 "Make Lecture 18: VAEs and GANs"
Hi all, just a reminder to make a pull request together for the lecture 18 notes, Variational Auto-encoders and GANs

@msdels, Michael Els
@leizhixian-research, Zhixian Lei
@sallysun1220, Yuting Sun
@jeffjc97, Jeff Chang
@xinche, Xincheng You
@Srivatsan-Srinivasan, Srivatsan Srinivasan

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when subm

[2017-11-09 05:59] #32 closed

[2017-11-09 05:59] #40 closed

[2017-11-09 06:30] Srivatsan-Srinivasan commented on #44
Hi everyone,

I would suggest we have one shared document on sharelatex and then divide and conquer pieces.

[2017-11-09 15:16] msdels commented on #44
Sounds good to me. Any preference on how to divide the sections?

On 9 November 2017 at 01:30, Srivatsan-Srinivasan <notifications@github.com>
wrote:

[2017-11-09 15:18] marikgoldstein commented on #44
Let me know if none of you have a sharelatex account that allows >2 collaborators.

[2017-11-09 19:04] jeffjc97 commented on #44
I can make a sharelatex for all of us - what are your sharelatex account
emails?

On Thu, Nov 9, 2017 at 10:18 AM, Mark Goldstein <notifications@github.com>
wrote:

[2017-11-09 20:32] msdels commented on #44
Thanks Jeffrey, please use mels@hbs.edu for me.

On 9 November 2017 at 14:04, Jeffrey Chang <notifications@github.com> wrote:

[2017-11-09 21:44] xinche commented on #44
Hi Jeffrey,

My email is xincheyou@gmail.com for my account.

Thanks,
Xincheng

On Thu, Nov 9, 2017 at 3:32 PM, Michael <notifications@github.com> wrote:

[2017-11-09 21:57] sallysun1220 commented on #44
Hi Jeffrey,

My account is sallysun1220@gmail.com <mailto:sallysun1220@gmail.com>

Thanks,
Yuting

[2017-11-09 22:05] leizhixian-research commented on #44
Hello everyone,

My account: leizhixian.research@gmail.com

2017-11-09 16:57 GMT-05:00 sallysun1220 <notifications@github.com>:

[2017-11-09 23:38] jeffjc97 commented on #44
I added all of the base files and shared it with all of y'all - Srivatsan,
do you have a sharelatex account as well?

Best,
Jeff

On Thu, Nov 9, 2017 at 5:05 PM, leizhixian-research <
notifications@github.com> wrote:

[2017-11-10 18:56] Srivatsan-Srinivasan commented on #44
sorry, mine is vatsan09@gmail.com

[2017-11-11 00:48] jeffjc97 commented on #44
Sent you an invite!

On Fri, Nov 10, 2017 at 1:56 PM, Srivatsan-Srinivasan <
notifications@github.com> wrote:

[2017-11-12 19:39] Srivatsan-Srinivasan commented on #44
What is the division plan ? Also, if I open the sharelatex link, I only see the template files and not a common file where we all edit. I am new to sharelatex is there something I am missing ?

[2017-11-12 20:19] leizhixian-research commented on #44
There is a 18.tex in 18 folder and actually I added what I recorded in the class

[2017-11-12 22:01] Srivatsan-Srinivasan commented on #44
So shall the rest of us go through the same document and make incremental changes if any ?

[2017-11-14 03:10] sallysun1220 commented on #44
Hi,

I went through our latex and it looks well-organized. I added one flowchart in the first part. Please let me know if you guys feel some places we need to improve.

Yuting

[2017-11-14 21:27] Srivatsan-Srinivasan commented on #44
Looks good to me too. Added a couple of links that explain the math in greater detail. ( The original paper and a tutorial paper)

[2017-11-14 21:44] xinche commented on #44
I made a couple changes and added a new graph. Everything looks good to me.

On Tue, Nov 14, 2017 at 4:27 PM, Srivatsan-Srinivasan <
notifications@github.com> wrote:

[2017-11-15 03:44] msdels commented on #44
Looks good to me too. I made a couple of minor tweaks to the text.

-Michael

On 14 November 2017 at 16:44, xinche <notifications@github.com> wrote:

[2017-11-15 05:02] jeffjc97 commented on #44
I also made a few changes and looked over the text. Seems good to me.

On Tue, Nov 14, 2017 at 10:44 PM, Michael <notifications@github.com> wrote:

[2017-11-15 20:18] marikgoldstein commented on #44
Please make a pull request when it is all set.

[2017-11-15 20:22] marikgoldstein opened #45 "Make Lecture 19 Notes: Monte Carlo Basics"
Hi all, just a reminder to make a pull request together for the lecture 19 notes, Monte Carlo Basics

@jeffrey6557, Chang Liu
@jiafengkevinchen, Jiafeng Chen
@alexanderplin, Alexander Lin

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 19/ folder, include in it a copy of 18.tex, and rename it to 19.tex
(use a previous

[2017-11-15 20:25] marikgoldstein opened #46 "Make Lecture 20 Notes: Importance Sampling and Particle Filtering"
Hi all, just a reminder to make a pull request together for the lecture 20 notes, Importance Sampling and Particle Filtering

@alexw16, Alex Wu
@nfoppiani, Nicolò Foppiani
@kevinyliu, Kevin Liu
@dmerchand, Daniel Merchan
@MilanRavenell, Milan Ravenell

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 20/ folder, include

[2017-11-15 22:20] nfoppiani commented on #46
Hi all,

I just have a question: should everyone of us make his own fork and write down his scribe notes?

[2017-11-15 23:39] marikgoldstein commented on #46
collaboration stratedgy is up to all of you but sharelatex might be easier than many separate forks. Alternatively, one of you can make a fork and can add everyone else as a collaborator that can push to the repo. Maybe that is the easiest.

[2017-11-15 23:40] marikgoldstein commented on #46
No hard deadline, but 2-3 days should be plenty for what we are expecting. Excuse typos, sending from phone.

[2017-11-16 00:28] nfoppiani commented on #46
Thank you very much for your help Mark.

I forked the repository and created a ShareLatex project. When it is ready we can download it from Sharelatex and make a pull request to the central repo.

I hope that everybody agrees with this choice..in case we can of course further discuss and go for another way.

For those who don't have Sharelatex, here is an invitation for creating an account:
https:

[2017-11-16 04:59] jiafengkevinchen commented on #45
Hey everyone, should we put everything in a sharelatex document?

[2017-11-16 06:51] alexanderplin commented on #45
I think sharelatex only allows two editors at a time

On Nov 15, 2017 3:22 PM, "Mark Goldstein" <notifications@github.com> wrote:

[2017-11-16 23:30] nfoppiani commented on #46
Hi all,

I wrote the first part as anticipated (state space models and kalman filtering).
Can anyone go ahead with the rest?

Nicolò

[2017-11-17 01:13] jeffjc97 commented on #44
I can go ahead and make a PR if everyone's okay with our current notes!

On Wed, Nov 15, 2017 at 3:18 PM, Mark Goldstein <notifications@github.com>
wrote:

[2017-11-17 04:58] alexw16 commented on #46
Hi Nicolo,

Thanks for doing the first part. I can put together the particle filtering/sequential Monte Carlo part.

Alex

[2017-11-17 05:12] dmerchand commented on #46
Thanks, Nicolò.
I can take care of review on importance sampling part.
Best,
- DM

On Thu, Nov 16, 2017 at 11:58 PM, alexw16 <notifications@github.com> wrote:

--
Saludos,
- DM

[2017-11-17 18:08] kevinyliu commented on #46
Hi all,

I typed up part of importance sampling.

[2017-11-17 20:23] MilanRavenell commented on #46
Hello all,

I can type up the part that goes over the issues associated with particle
filtering.

Best,

Milan

On Fri, Nov 17, 2017 at 1:08 PM, Kevin Liu <notifications@github.com> wrote:

[2017-11-18 00:29] alexanderplin commented on #45
Hey Mark? Can we get a sharelatex group that can hold more than 2 people?
:) I think that is easier

On Wed, Nov 15, 2017 at 3:22 PM, Mark Goldstein <notifications@github.com>
wrote:

[2017-11-18 06:19] dmerchand commented on #46
Hi all - Building on Kevin's part, I completed importance sampling.
Best,
- DM

On Fri, Nov 17, 2017 at 3:23 PM, MilanRavenell <notifications@github.com>
wrote:

--
Saludos,
- DM

[2017-11-20 18:08] nfoppiani commented on #46
That's great! So, are we done with everything? In case I'll make a pull request this afternoon

Nick

[2017-11-21 02:08] jeffrey6557 commented on #45
Hi everyone,

I created a Sharelatex account so multiple people can work on the same file:

account name: cs281advancedmachinelearning@gmail.com
password: Cs281AML

I also built out a base of my notes on the file. It would be great if others can add and polish it.

Chang

[2017-11-21 17:43] rachtsingh commented on #44
Can someone please make a pull request? This should have been done a week ago at the very latest.

[2017-11-21 17:43] rachtsingh commented on #45
Hey, can you finish this by today? This should have been done a long time ago.

[2017-11-21 17:45] rachtsingh commented on #46
Can this be finished today? This should have been done a few days ago. Thanks.

[2017-11-21 17:51] rachtsingh commented on #10
Thanks Karl!

[2017-11-21 17:51] #10 closed

[2017-11-21 17:52] rachtsingh opened #47 "hrefs on TOC are broken (some LaTeX bug again)."

[2017-11-21 17:53] jeffrey6557 commented on #45
Hi Scribe teammates,

Let's finish this as soon as we can, and let me know if you have any trouble logging in Sharelatex. You should see "Scribe note 19" already set up with a base of my notes.
<img width="1259" alt="screen shot 2017-11-21 at 11 50 47 am" src="https://user-images.githubusercontent.com/9246300/33088124-5605558a-ceb2-11e7-856d-cfdfb7652342.png">
<img width="1255" alt="screen shot 20

[2017-11-21 18:04] jeffjc97 commented on #44
The PR should be good now! Let me know if there's anything else we should
do.

On Tue, Nov 21, 2017 at 12:43 PM, Rachit Singh <notifications@github.com>
wrote:

[2017-11-21 18:53] rachtsingh opened #49 "Potential contributions for Lecture 2"
1. Under "Inference", explain what inference is (it's there, but flesh it out). For example - what possible things could we want to know about $$\theta$$? What is a point estimate vs. an interval vs. a distribution.
2. MLE - explain what MLE is, italicize + lowercase "Because the function..", the next line is nonsensical (what are we taking a derivative of)
3. MAP - explain what MAP is. How does i

[2017-11-21 18:53] rachtsingh commented on #44
Finished.

[2017-11-21 18:53] #44 closed

[2017-11-21 18:57] rachtsingh commented on #45
Actually on discussion, I think there's no need for 5 people to help finish this. I'm taking @hixor (Hikari) @StefanSpataru (Stefan) off this - if you could instead do one of the edits that Mark talked about or solve a bug that I've marked as "enhancement / help wanted" then that'll be enough for credit. If I'm wrong and you've already worked together extensively to finish this let me know.

[2017-11-21 18:59] rachtsingh commented on #46
(removing Shangyan since he's not involved currently - Shangyan, can you make one of the contributions that Mark mentioned on Piazza or solve one of the "help wanted / enhancement" issues that I made?)

[2017-11-21 19:04] rachtsingh opened #50 "Make Lecture 21 Notes: Deep Learning in Health Care"
Hi all, a reminder to make a pull request together for the lecture 21 notes: Deep Learning in Health Care. Please have this finished in 2-3 days, though end of Thanksgiving break is fine.

@rdhara, Raghu Dhara
@fr0420, Rui Fang
@phyllisju, Phyllis Ju

You need to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 21/ folder, include in

[2017-11-21 19:29] hixor commented on #45
Hey, sorry for any confusion around this-- I dropped this course way back in October. I should have taken my name off of the scribe list, I see!

Sorry again!

Best,
Hikari

--

[2017-11-21 20:23] fr0420 commented on #50
Hi Rachit,

Just want to make sure, is Phyllis still in this course? I tried to look for his contact info on Canvas but it seems he is not in the cs281 students list.

[2017-11-21 20:30] jiafengkevinchen commented on #45
Integrated my notes. I think we are good to go modulo some figures / proofreading (not sure if they are strictly necessary)

[2017-11-21 20:34] nfoppiani commented on #46
Sorry Rachit, the document was ready but we didin't make the pull request. I have just done it.

Best
Nick

[2017-11-21 20:40] rachtsingh commented on #46
Great, thanks! No worries.

[2017-11-21 20:40] #46 closed

[2017-11-21 20:45] rachtsingh commented on #50
I think she might have dropped the course - I also checked Canvas.

[2017-11-21 21:34] rachtsingh opened #52 "Potential contributions for Lecture 3"
- 3.3: note that MVNs are identifiable using just their first and second moments. Move text about the image included into a figure caption (and format it properly as explained [here](https://github.com/harvard-ml-courses/cs281-scribe/blob/master/scribe_notes.md#images)
- 3.3.2 include link to [this blog post](http://www.inference.vc/high-dimensional-gaussian-distributions-are-soap-bubble/).
- 3.3.

[2017-11-21 22:35] alexanderplin commented on #45
You guys basically finished the whole thing, I went ahead and added
additional notes to the intuition behind the sampling types since I thought
that might be useful.

On Tue, Nov 21, 2017 at 3:30 PM, jiafengkevinchen <notifications@github.com>
wrote:

[2017-11-21 23:33] fr0420 commented on #50
@rdhara Hi Raghu! I started out creating a fork and added 21/21.tex. Would you like to edit the tex file on Sharelatex together? If so, just let me know your email address so I can share the project with you. Thanks!

[2017-11-22 01:42] rdhara commented on #50
Hi Rui,

My email is rdhara@college.harvard.edu. I'd be happy to work on the tex file on Sharelatex!

Raghu

[2017-11-22 02:25] jiafengkevinchen commented on #45
Just submitted the pull request

[2017-11-22 15:30] dem123456789 commented on #49
I want to take this issue.

[2017-11-22 17:07] rachtsingh opened #54 "Potential contributions for Lecture 4"
- 4.1: inference over what? what are we given?
- 4.2: change log -> \log, change all of the flalign*s to align*s. Use `\mathcal{N}` instead of N (make a macro for it). Use `\mathcal{N}(x; \mu, \Sigma)` instead of `|`, that's for conditioning and you're just parametrizing here. Don't be sloppy with the sums: use ` i = 0 , n`, etc. Set up and solve the exercise involved (using [this](https://github.

[2017-11-22 17:07] rachtsingh commented on #45
Done, thanks!

[2017-11-22 17:07] #45 closed

[2017-11-22 17:22] rachtsingh opened #55 "Potential contributions for Lecture 5"
- solve the posterior predictive exercise in 5.5 (use the `exercise` environment, as described [here](https://github.com/harvard-ml-courses/cs281-scribe/blob/master/scribe_notes.md#exercises)
- replace all of the `log`s with `\log`s
- replace the softmax plot. I think it's useless as is.
- in section 5.9, add an explanation of the logsumexp trick (see [here](https://hips.seas.harvard.edu/blog/2013

[2017-11-22 17:24] jzhou316 commented on #52
I'll take this issue.

[2017-11-22 17:37] rachtsingh opened #56 "Potential contributions for Lecture 6"
- 6.1: can you find the section in Wainwright and Jordan that discusses this? Just a section number. Also, I'm having a hard time understanding this table. If you have an idea, fix it, otherwise I'll ping Sasha / the original scribers and ask him what he was trying to say.
- 6.2: what are the minimal / overcomplete forms? Also, there are parenthesis missing in the exp on the second line of the equ

[2017-11-26 03:21] retagaine commented on #56
I'll take this one!

[2017-11-26 17:10] SSussexGit commented on #54
I can take this.

[2017-11-26 21:34] rachtsingh commented on #50
Hey, any updates? Could we have this finished by today / tomorrow?

[2017-11-26 22:23] rdhara commented on #50
Sure - we can push this by class tomorrow!

[2017-11-26 22:55] parthmehta117 commented on #55
I'll work on this.

[2017-11-27 00:06] fr0420 commented on #50
@rdhara Hey Raghu, I updated the notes today. It's almost done except for a few places to add some details. Please check the sharelatex project and we can discuss when it's ready to push.

[2017-11-27 17:54] fr0420 commented on #50
The pull request is up now! Let me know if there's any problem.

[2017-11-28 12:57] #50 closed

[2017-11-28 19:16] rachtsingh opened #63 "Make Lecture 22 Notes: MCMC and Boltzmann Machines"
Hi all, just a reminder to make a pull request together for the lecture 22 notes, MCMC and Boltzmann Machines

@sebastienlc, Sebastien Lemieux-Codere
Vasileios Nakos (could not find your Github ID to tag you, sending you an email).

You'll want to:

Make sure you read the [LaTeX Guide](https://github.com/harvard-ml-courses/cs281-scribe/blob/master/scribe_notes.md)
Make your own fork (so you can ma

[2017-11-28 19:30] SebastienLC commented on #63
Hi Rachit,
Could you CC me in the email to Vasileios Nakos?
Sebastien

[2017-11-28 19:37] rachtsingh commented on #63
done

On Tue, Nov 28, 2017 at 2:30 PM, SebastienLC <notifications@github.com>
wrote:

[2017-11-29 17:49] jooner commented on #49
There's still a help wanted tag here. Is it ok for me to work with dem123456789 to contribute?

[2017-11-29 18:05] rachtsingh commented on #49
No that tag is from earlier sorry. I'll make edits for another lecture in a
moment, sorry.

On Nov 29, 2017 12:49 PM, "Joon Yang" <notifications@github.com> wrote:

[2017-12-01 23:21] marikgoldstein opened #68 "Make Lecture 23 Notes: NMT and Attention"
Hi all, just a reminder to make a pull request together for the lecture 23 notes, Neural Machine Translation and Attention.

@anihamde, Anirudh Suresh
@alugupta, Udit Gupta
@dhfromkorea, DH Lee

You'll want to:

Make sure you read the LaTeX Guide
Make your own fork (so you can make a pull request when submitting).
Make a 23/ folder, include in it a copy of 22.tex, and rename it to 23.tex
(use an e

[2017-12-01 23:23] anihamde commented on #68
Hi Mark,

I think Michael Jasper is also supposed to be scribing this lecture. Is it
ok for me to loop him in here?

Thanks,

Anirudh

On Fri, Dec 1, 2017 at 6:21 PM Mark Goldstein <notifications@github.com>
wrote:

[2017-12-01 23:29] marikgoldstein commented on #68
Please do. I emailed him because I couldn't find his github ID.

[2017-12-01 23:37] anihamde commented on #68
Awesome will do. Could you also give me the email addresses for the others
in this thread so we could coordinate?

On Fri, Dec 1, 2017 at 6:29 PM Mark Goldstein <notifications@github.com>
wrote:

[2017-12-02 01:59] dhfromkorea commented on #68
Hi Anirudh, this is DH who's also assigned as a scriber for the same topic.

my email address as you can see is dhfromkorea@gmail.com

my github id is dhfromkorea

it would be great if we could  push some first draft-level scribe over the
weekend, since the topic appears in high demand...

Best wishes,

- DH
dhfromkorea.com

On Fri, Dec 1, 2017 at 6:37 PM, Anirudh Suresh <notifications@github.com>

[2017-12-02 17:58] anihamde commented on #68
sounds good, could we meet sometime today or early tomorrow to crank out
the scribe notes? Don't think it should take that long, I already have a
transcribed version of the notes ready.

On Fri, Dec 1, 2017 at 8:59 PM, dh <notifications@github.com> wrote:

[2017-12-02 18:25] alugupta commented on #68
Hey!

I'd be down to meet early tomorrow (today is a little iffy for me). I'll try to organize some my notes and thoughts by then as well!

[2017-12-02 18:27] anihamde commented on #68
Sure, could we do sometime in the morning tomorrow?

On Sat, Dec 2, 2017 at 1:25 PM, alugupta <notifications@github.com> wrote:

[2017-12-02 18:28] alugupta commented on #68
How is 10am? Not sure when everyone else is free ( should be available anytime really )

[2017-12-02 18:37] anihamde commented on #68
That works well for me.

On Sat, Dec 2, 2017 at 1:28 PM, alugupta <notifications@github.com> wrote:

[2017-12-02 18:41] dhfromkorea commented on #68
Hi unfortunately, I am out in Seattle this weekend so...I cant meet in
person this weekend. I will contribute regardless in the best way possible.
I can also share my note taking for the lecture if it helps.

Also would you then help me learn what part or aspect of the scribing I
could be responsible for, after the meeting?

Best,

On Dec 2, 2017 1:37 PM, "Anirudh Suresh" <notifications@github.com

[2017-12-02 18:44] anihamde commented on #68
Sure. We could meet tomorrow and see how much we could get done, and the
rest, we can leave to you if it's reasonable and okay with you.

On Sat, Dec 2, 2017 at 1:41 PM, dh <notifications@github.com> wrote:

[2017-12-02 18:47] anihamde commented on #68
@alugupta, are you down to meet in lamont at 10 tomorrow?

On Sat, Dec 2, 2017 at 1:44 PM, Anirudh Suresh <anirudhtx@gmail.com> wrote:

[2017-12-02 20:06] alugupta commented on #68
Thats lamont library right? That should be good

[2017-12-03 01:47] marikgoldstein commented on #68
@mikeg2 added.

[2017-12-03 14:59] anihamde commented on #68
@alugupta, I’m walking to Lamont rn. I’ll meet you right inside?

On Sat, Dec 2, 2017 at 8:47 PM Mark Goldstein <notifications@github.com>
wrote:

[2017-12-03 15:00] alugupta commented on #68
Sure. I should be there in 5

On Dec 3, 2017 9:59 AM, "Anirudh Suresh" <notifications@github.com> wrote:

[2017-12-03 23:31] dhfromkorea commented on #68
Hi! Thank you so much for structuring the note in a good shape already.
Definitely, I will add my own content and send you the diff for green
light. I am flying back on Tuesday. I will do so by Tuesday, if it's not
too late for you guys.

- DH
dhfromkorea.com

On Sun, Dec 3, 2017 at 10:00 AM, alugupta <notifications@github.com> wrote:

[2017-12-09 22:48] jzhou316 commented on #52
@rachtsingh May I ask what do you mean by the fourth point --- "3.3.4 s/formulation/parametrization/g (replace)" ?

[2017-12-16 02:07] jzhou316 commented on #52
Pull request submitted. Thanks!

[2017-12-17 19:00] SebastienLC commented on #63
Hi Rachit,

We pushed our scribe notes for lecture 22 a few days ago. Could you let us know if everything is ok or if you'd like us to make any changes?

Thank you,
Sebastien